html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.u-clearfix:before, .u-clearfix:after {
	content: ' ';
	display: table;
}
.u-clearfix:after {
	clear: both;
}

// -------------------------------------------
$c-main: #4cb1ca;
$c-secondary: #7db122;
$c-background: #fff;
$c-text: #656565;
$c-banner-1: #D8C20E;
@mixin o-background($color, $image) {
	background-color: $color;
	background-image: $image;
}
html {
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
.o-wrapper {
	width: 1030px;
	max-width: 90%;
	margin: 0 auto;
}
.o-transition {
	transition: all .3s ease-in-out;
}
.o-overlay {
	height: 100%;
}
.aside .slick-dots {
	bottom: -19px;
	li {
		button {
			color: red;
			&:before {
				font-size: 45px;
				color: $c-main;	
			}
		}
	}
}