@media only screen and (max-width: 1024px) {
	//---------------HEADER----------------
	.header--main {
		padding: 1.5em 0;
	}
	.header__nav-main--links {
		width: 100%;
		order: 3;
		margin-top: 1em;
		justify-content: space-between;
		li {
			display: block;
			width: 19.5%;
			a {
				width: 100%;
				text-align: center;
				border: 1px solid $c-text;
			}
		}
	}
	.header__nav-main--misc {
		order: 2;
		input[type='submit'] {
			margin-right: .5em;
		}
		.coupons, .cart {
			display: none;
		}
	}

	.aside {
		display: none;
	}
	.main__table--cell {
		// width: 48.5%;
	}

	.footer__calls--order, .footer__calls--call {
		padding: .5em 0;
		.main_-cell--icon {
			display: none;
		}
		h4 {
			font-size: 1.1em;
			margin: auto;
		}
	}

	.footer__main--facebook {
		display: none;
	}
	.footer__main--contact {
		.footer_-contact--icon {
			font-size: 1.1em;
		}
	}
	.footer--copy {
		padding: 1.2em 0;
	}
	.footer__copy {
		p {
			margin: 0 auto;
			text-align: center;
			line-height: 1.5;
		}
		ul {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	//---------------HEADER----------------
	.header--sec {
		background-color: $c-background;
	}
	.header__nav-sec--options {
		margin: 0 0 0 auto;
		label {
			display: none;
		}
		select {
			border: 1px solid $c-main;
			margin: 0;
			padding: 0.5em 0.2em;
		}
	}
	.header__nav-sec--links {
		display: none;
	}
	
	.header--main {
		padding: .3em 0 1em;
	}
	.header__respons--btn {
		display: inline-block;
		margin: auto 0;
	}
	.header__nav-main--logo {
		display: inline-block;
		margin: auto 0;
		img {
			vertical-align: middle;
			width: 125px;
		}
	}
	.header__nav-main--links {
		display: none;
		order: 5;
		margin-top: initial;
		li {
			width: initial;
		}
		li:not(:last-child) a {
			border-bottom: none;
		}
	}
	.header__nav-main--links.js-active-menu {
		display: block;
		width: 100%;
		margin-top: 1em;
		a {
			text-align: center;
			display: block;
			padding: 1em;
		}
	}
	.header__nav-main--misc {
		margin-left: auto;
		input {
			padding: .65em;
		}
		input[type='text'] {
			border-right: none;
			width: 200px;
		}
	}
	.header__banner {
		height: 300px;
	}
	.header__banner--title {
		h1, h2 {
			font-size: 1.5em;
		}
		h1 {
			width: 217px;
		}
	}
	.header__prev, .header__next {
		font-size: 1.7em;
	}

	.main__table--cell {
		width: 48.5%;
		padding: 1em;
		img {
			width: 300px;
		}
	}
	.main__table--cell:nth-child(n+3) {
		display: none;
	}
	.main__table--btn {
		display: block;
		background-color: $c-secondary;
		color: $c-background;
		padding: 0.8em 1.8em;
		border: none;
		text-transform: uppercase;
		margin: .5em auto;
		font-weight: 400;
		font-size: 1.1em;
		cursor: pointer;
	}

	.footer--calls {
		display: none;
	}
	.footer__main--twitter {
		display: none;
	}
	.footer_-main {
		width: initial;
		margin: 0 auto;
		ul {
			li {
				font-size: 1em;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	//---------------HEADER----------------
	.header__nav-main--misc {
		input[type='text'] {
			border-right: none;
			width: 170px;
		}
		input[type='submit'] {
			margin-right: 0;
		}
	}

	.header__prev, .header__next {
		display: none !important;
	}

	.main__table--cell {
		width: 100%;
		box-shadow: none;
		border: 1px solid #888888;
		img {
			width: 500px;
		}
	}

	.footer__main--info {
		display: none;
	}
	.footer__main--contact {
		ul {
			float: left;
			border-bottom: none;
		}
		.g {
			float: right;
			display: flex;
			margin: auto;
			margin-left: 1em;
			width: 110px;
			flex-wrap: wrap;
			.footer_-contact--icon {
				font-size: 1.3em;
				margin:  0 .25em .25em;
			}
		}
	}
}