@import 'base';

//---------------HEADER----------------
.header--slider {
	// width: 100% !important;
	// display: flex;
}
.header--sec {
	background-color: $c-main;
	padding: .8em 0;
}
.header__nav-sec {
	display: flex;
}
.header__nav-sec--options {
	font-size: 0.9em;
	label {
		color: $c-background;
		opacity: 0.8;
	}
	select {
		border: none;
		border-radius: .2em;
		background-color: $c-background;
		color: $c-main;
		cursor: pointer;
		margin: 0 .7em 0 .4em;
		padding: .4em .2em;
	}
}
.header__nav-sec--links {
	display: flex;
	list-style: none;
	margin: 0 0 0 auto;
	padding: 0;
	li {
		display: flex;
		&:not(:last-child)::after {
			content: '|';
			color: $c-background;
			margin: .15em;
		}
		a {
			display: inline-block;
			color: $c-background;
			font-size: 0.9em;
			padding: .3em;
			margin: auto;
			@extend .o-transition;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}

.header--main {
	padding: 3em 0;
}
.header__respons {
	display: flex;
	align-items: flex-start;
}
.header__respons--btn {
	display: none;
	font-size: 2.1em;
	background-color: $c-main;
	color: $c-background;
	border: none;
	cursor: pointer;
}
.header__nav-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.header__nav-main--logo {
	margin: auto 0;
}
.header__nav-main--links, .header__nav-main--misc {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: auto 0;
		a {
			display: inline-block;
			color: $c-text;
			font-weight: 700;
			font-size: 0.9em;
			padding: .8em;
			text-transform: uppercase;
			@extend .o-transition;
			&:hover {
				background-color: $c-main;
				color: $c-background;
			}
		}
	}
}
.header__nav-main--misc {
	input {
		padding: .4em;
		border: 1px solid grey;
	}
	input[type='text'] {
		border-right: none;
		width: 140px;
	}
	input[type='submit'] {
		border-left: none;
		background-color: $c-background;
		background-image: url("..//images//search.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 1em;
		padding-right: 1.5em;
		cursor: pointer;
	}
	.coupons, .cart {
		a {
			padding: .55em;
			border-radius: 50%;
			border: none;
			background-color: $c-secondary;
			margin-right: .3em;
			img {
				width: 20px;
				position: relative;
				transform: translateY(10%);
			}
		}
	}
}

.header__banner {
	background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	display: inline-block;
	position: relative;
	height: 450px;
	width: 100%;
	.header__banner--overlay {
		height: 100%;
		opacity: 0.5;
	}
}
.header__banner--one {
	.header__banner--overlay {
		background-color: yellow;
	}
}
.header__banner--two {
	.header__banner--overlay {
		background-color: orange;
	}
}
.header__banner--three {
	.header__banner--overlay {
		background-color: red;
	}
}
.header__banner--title {
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translateY(-50%);
	h1, h2 {
		margin: 0;
		padding: .3em .5em;
		font-weight: 700;
		text-transform: uppercase;
		color: $c-background;
		background-color: rgba(black, .5);
	}
	h1 {
		font-weight: 300;
		margin-bottom: .1em;
		width: 288px;
	}
	h2 {
		font-size: 1.9em;
	}
}
.header__prev, .header__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2.5em;
	z-index: 1;
	.header__prev--circle, .header__next--circle {
		color: $c-background;
	}
	.header__prev--icon, .header__next--icon {
		font-size: 1.5em;
		position: absolute;
		left: 50%;
		color: $c-text;
		cursor: pointer;
		border-radius: 50%;
		@extend .o-transition;
		&:hover {
			color: $c-main;
		}
	}
}
.header__prev {
	left: 5%;
	.header__prev--icon {
		transform: translateX(-53%);
	}
}
.header__next {
	right: 5%;
	.header__next--icon {
		transform: translateX(-47%);
	}
}

//---------------MAIN----------------
.main-wrapper {
	display: flex;
	h3 {
		font-weight: 400;
		text-transform: uppercase;
		color: $c-text;
		font-size: 1.5em;
	}
}
.main {
	flex: 3.5;
	margin-bottom: 4em;
}
.main__table {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main__table--cell {
	width: 32%;
	margin: 0 0 1em;
	text-align: center;
	padding: .5em;
	box-shadow: 0 0 1px #888888;
	img {
		max-width: 100%;
	}
}
.main_-cell {
	margin: .3em 0 1em;
	.main_-cell--title, .main_-cell--price {
		float: left;
		text-align: left;
		width: 70%;
	}
	.main_-cell--title {
		color: $c-text;
		font-size: .9em;
		margin: .4em 0 0;
	}
	.main_-cell--price {
		color: $c-secondary;
		font-size: 1.1em;
		margin: .2em 0 0;
	}
	.main_-cell--icon {
		font-size: 1.6em;
		.fa-circle {
			color: $c-secondary;
			font-size: 2.3em;
		}
		.fa-shopping-basket {
			border-radius: 50%;
			color: $c-background;
			position: relative;
			top: 5.4%;
			@extend .o-transition;
			&:hover {
				background-color: $c-main;
			}
		}
	}
}

.aside {
	flex: 1;
	margin: 2em 0 0 1.5em;
	text-align: center;
	h3 {
		margin: .9em 0;
	}
}
.aside--featured, .aside--signup {
	box-shadow: 0 0 3px grey;
	border-top: 5px solid $c-main;
	padding-bottom: .1em;
}
.aside__featured--slider {
	width: 250px;
}
.aside__slider {
	height: 350px;
	margin: 1em;
	background-image: url("../images/featured.png");
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: center -10px;
	position: relative;
	text-align: center;
	a {
		background-color: $c-main;
		color: $c-background;
		padding: .8em 0em;
		margin-bottom: 1.3em;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 70%;
		transform: translateX(-50%);
		@extend .o-transition;
		&:hover {
			background-color: $c-secondary;
		}
	}
	.o-overlay {
		opacity: 0.3;
	}
}
.aside__slider--one {
	.o-overlay {
		background-color: pink;
	}
}
.aside__slider--two {
	.o-overlay {
		background-color: green;
	}
}
.aside__slider--three {
	.o-overlay {
		background-color: blue;
	}
}
.aside--signup {
	margin-top: 1.7em;
	h3 {
		margin: 1em 0 .7em;
	}
	p {
		margin: 0;
		font-size: .9em;
		color: $c-text;
	}
	hr {
		width: 85px;
		margin: .9em auto;
		color: $c-text;
	}
	input[type="text"] {
		padding: .2em;
		max-width: 80%;
	}
	input[type="submit"] {
		background-color: $c-main;
		color: $c-background;
		font-size: .95em;
		margin: 1.3em 0 1.8em;
		padding: .8em 1.3em;
		cursor: pointer;
		border: none;
		@extend .o-transition;
		&:hover {
			background-color: $c-secondary;
		}
	}
}

//---------------FOOTER----------------
.footer-wrapper {
	display: flex;
}
.footer--calls {
	background-color: $c-main;
	padding: 1em 0;
}
.footer__calls--order, .footer__calls--call {
	flex: 1;
	display: flex;
	.main_-cell--icon {
		font-size: 2.6em;
		.fa-circle {
			color: $c-background;
		}
		.fa-truck, .fa-phone {
			border-radius: 50%;
			color: $c-main;
		}
	}
	h4 {
		margin: 0;
		display: inline-block;
		color: $c-background;
		font-weight: 400;
		text-transform: uppercase;
		vertical-align: middle;
		margin: auto 0 auto .2em;
		font-size: 1.2em;
	}
}
.footer__calls--order {
	margin-right: .5em;
}
.footer--main {
	background-color: $c-main;
	border: 1px solid #000;
}
.footer__main {
	display: flex;
}
.footer_-main {
	flex: 1;
	border: 1px solid #000;
	padding: 2em 0;
	h5 {
		text-transform: uppercase;
		font-size: 1.15em;
		color: $c-background;
		font-weight: 400;
		margin: 0 0 1em 0;
	}
	ul {
		list-style: none;
		color: $c-background;
		margin: 0;
		padding: 0;
		li {
			font-size: .9em;
			line-height: 1.55;
		}
	}
}
@import 'responsive';